.body {
  background-image: url('https://img.freepik.com/foto-gratis/hermosa-foto-paisaje-verde-cielo-azul-claro_181624-30368.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
}
