<!-- Create and Edit Form -->
<h2>{{ editMode ? 'Edit Guide' : 'New Guide' }}</h2>
<div class="form-section">
  <form (submit)="onSubmit()" #guideForm='ngForm' class="form-row">
    <mat-form-field>
      <input matInput placeholder="Name" name="name" required [(ngModel)]="guide.name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Destination</mat-label>
        <mat-select placeholder="Destination" name="destination" required [(ngModel)]="guide.destination">
          <mat-option value="one">Valle Sagrado</mat-option>
          <mat-option value="two">Callejón de Huaylas</mat-option>
          <mat-option value="three">Lago Titicaca</mat-option>
          <mat-option value="four">Ruta de la Papa</mat-option>
          <mat-option value="five">Bosque de Nuwas</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Language" name="language" required [(ngModel)]="guide.language">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Specialization" name="specialization" required [(ngModel)]="guide.specialization">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Availability" name="availability" required [(ngModel)]="guide.availability">
    </mat-form-field>
    <mat-form-field id="rate-form-field" floatLabel="always">
        <mat-label>Rate</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="Rate" name="rate" required [(ngModel)]="guide.rate">
        <span matTextSuffix>
          <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon">
          </mat-icon>
        </span>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Price" name="price" required [(ngModel)]="guide.price">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Experience</mat-label>
        <textarea matInput placeholder="Experience" name="experience" required [(ngModel)]="guide.experience"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Picture" name="picture" required [(ngModel)]="guide.picture">
    </mat-form-field>
    <ng-container *ngIf="editMode; else elseTemplate">
      <button mat-raised-button color="primary">Update</button>
      <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
    </ng-container>
    <ng-template #elseTemplate>
      <button mat-raised-button color="primary">Add</button>
    </ng-template>
  </form>
</div>
