

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Oscar Martinez</mat-card-title>
    <mat-card-subtitle>Mi Perfil</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4RtVbdU1Wqo838slkJAJnZFiT9i7qz8gCkQMfk5ajyQ&s" alt="Photo of a Oscar">
  <mat-card-content>
    <p>
      Soy Oscar Martinez, viajo por el mundo por lo que usare muchos servicios de guias, si me ves alegrate pues soy un turista muy amable y entusiasta por vivir.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
